body {
  max-width: 393px;
  margin: auto;
  width: 100%;
  height: 100%;

  border-radius: 24px;

  background-color: white;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  background-color: #1e1e1e;
}
html {
  min-height: 100%;
  padding: 64px 0;
}


.wellcome-page {
  width: 393px;
  height: 852px;

  display: grid;
  grid-template-rows: 1fr auto;

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.page-background-img {
  width: 393px;
  height: 583px;
  border-radius: 24px 24px 82px 82px;
}

.image {
  position: absolute;
  left: -13.5em;
  top: -1em;
  overflow: hidden;
  z-index: 2;
}

.field-button {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-bottom: 60px;
  z-index: 3;
}